[submodule "vim/submodules/vim-pathogen"]
	path = vim/submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/submodules/summerfruit256.vim"]
	path = vim/submodules/summerfruit256.vim
	url = https://github.com/vim-scripts/summerfruit256.vim.git
[submodule "vim/submodules/vim-colors-solarized"]
	path = vim/submodules/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/submodules/nerdtree"]
	path = vim/submodules/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/submodules/syntastic"]
	path = vim/submodules/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/submodules/vim-css-color"]
	path = vim/submodules/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/submodules/tagbar"]
	path = vim/submodules/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/submodules/vim-fugitive"]
	path = vim/submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/submodules/AutoFenc"]
	path = vim/submodules/AutoFenc
	url = https://github.com/s3rvac/AutoFenc.git
[submodule "vim/submodules/wombat256.vim"]
	path = vim/submodules/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "vim/submodules/molokai"]
	path = vim/submodules/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/submodules/goyo.vim"]
	path = vim/submodules/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/submodules/vim-latex"]
	path = vim/submodules/vim-latex
	url = https://github.com/lervag/vim-latex.git
[submodule "vim/submodules/vim-flake8"]
	path = vim/submodules/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/submodules/vim-airline"]
	path = vim/submodules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/submodules/supertab"]
	path = vim/submodules/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/submodules/SimpylFold"]
	path = vim/submodules/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/submodules/vim-surround"]
	path = vim/submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/submodules/ctrlp.vim"]
	path = vim/submodules/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/submodules/vim-markdown"]
	path = vim/submodules/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/submodules/vim-gitgutter"]
	path = vim/submodules/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/submodules/vimerl"]
	path = vim/submodules/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "vim/submodules/csv.vim"]
	path = vim/submodules/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim/submodules/unite.vim"]
	path = vim/submodules/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/submodules/riv.vim"]
	path = vim/submodules/riv.vim
	url = https://github.com/Rykka/riv.vim.git
[submodule "vim/submodules/rust.vim"]
	path = vim/submodules/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/submodules/nim.vim"]
	path = vim/submodules/nim.vim
	url = https://github.com/zah/nim.vim
[submodule "vim/submodules/vim-devicons"]
	path = vim/submodules/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
