[submodule "vim/vim-pathogen"]
	path = vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/lervag/vim-latex.git
[submodule "vim/bundle/goyo.vim"]
	path = vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/bundle/blockdiag.vim"]
	path = vim/bundle/blockdiag.vim
	url = https://github.com/aohta/blockdiag.vim.git
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/bundle/wombat256.vim"]
	path = vim/bundle/wombat256.vim
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "vim/bundle/AutoFenc"]
	path = vim/bundle/AutoFenc
	url = https://github.com/s3rvac/AutoFenc.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "vim/bundle/Better-CSS-Syntax-for-Vim"]
	path = vim/bundle/Better-CSS-Syntax-for-Vim
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
