blessings==1.6.1
bpython==0.17
curtsies==0.2.11
docopt==0.6.2
EditorConfig==0.12.1
gitdb==0.6.4
gitdb2==2.0.3
GitPython==1.0.2
greenlet==0.4.12
httpie==0.9.9
idna==2.6
joe==0.0.7
jsbeautifier==1.7.5
Pygments==2.2.0
smmap==0.9.0
smmap2==2.0.3
wcwidth==0.1.7
youtube-dl==2018.1.21
